body {
  margin: 0;
  padding: 0;
  background-color: #eff3f5;
  font-family: montserrat;
}

.header-wrap {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #1d1d28;
  display: flex;
}
.header-wrap .search-wrap {
  margin-left: auto;
  margin-top: 0.5em;
}
.header-wrap .search-wrap .search-box .seach-ico {
  float: right;
  z-index: 2;
  position: relative;
  top: 0.8em;
  left: 13px;
}
.header-wrap .search-wrap .search-box input {
  border-radius: 25px;
  padding: 0.8em;
  border: 1px;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  float: right;
  margin-right: 1em;
}
.header-wrap .search-wrap .search-box input::-moz-placeholder {
  font-style: normal;
}
.header-wrap .search-wrap .search-box input:-ms-input-placeholder {
  font-style: normal;
}
.header-wrap .search-wrap .search-box input::placeholder {
  font-style: normal;
}
.header-wrap .logo-wrap {
  padding: 0.8em;
  display: flex;
}
.header-wrap .logo-wrap img {
  width: 2em;
  margin-right: 1em;
}
.header-wrap .logo-wrap h5 {
  font-family: montserrat;
  margin: 0;
  font-size: 1.3em;
  position: relative;
  top: 0.2em;
}

.container-login {
  padding: 5% 20%;
}
.container-login .mob-ray {
  display: flex;
}
.container-login .mob-ray .mob-ray-wrap {
  margin: 0 auto;
  display: flex;
}
.container-login .mob-ray .mobile img {
  width: 100%;
}
.container-login .mob-ray .login {
  margin: auto 0;
  position: relative;
}
.container-login .mob-ray .login form {
  display: flex;
  flex-direction: column;
}
.container-login .mob-ray .login h3 {
  font-family: montserrat;
  font-size: 3em;
  margin: 0.8em 0em;
}
.container-login .mob-ray .login label {
  color: #171930;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: relative;
  bottom: 0.5em;
}
.container-login .mob-ray .login input {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  width: 28em;
  padding: 1em 0.7em;
}
.container-login .mob-ray .login .log-btn {
  width: 6em;
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
  background: linear-gradient(130.97deg, #266ed7 6.68%, #4d8aeb 99.25%);
  mix-blend-mode: normal;
  opacity: 0.77;
  padding: 0.5em 0.2em;
  color: #ffffff;
}

.container.home .story-wrapper::-webkit-scrollbar {
  display: none;
}
.container.home .story-wrapper {
  padding: 1em 1.8em;
  overflow-x: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  scrollbar-width: none;
  touch-action: pan-x;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  display: flex;
}
.container.home .story-wrapper .story-icons:not(:last-child) {
  margin-right: 25px;
}
.container.home .story-wrapper .story-icons:last-child {
  position: relative;
}
.container.home .story-wrapper .story-icons:last-child::after {
  position: absolute;
  left: 100%;
  height: 1px;
  width: 20px;
  display: block;
  content: "";
}
.container.home .story-wrapper .story-icons.real .add {
  border: 1px solid #ff005c;
  filter: drop-shadow(0px 0px 7px rgba(255, 62, 120, 0.32));
  border-radius: 15px;
  width: 66px;
  height: 71px;
  padding: 0;
  display: grid;
  align-items: center;
}
.container.home .story-wrapper .story-icons.real .add a {
  display: flex;
}
.container.home .story-wrapper .story-icons.real .add a img {
  height: 65px;
  width: 60px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
  margin: 0 auto;
}
.container.home .story-wrapper .story-icons {
  max-width: 4em;
  flex-shrink: 0;
}
.container.home .story-wrapper .story-icons .add {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
  display: inline-block;
  padding: 1.4em;
}
.container.home .story-wrapper .story-icons .story-text {
  display: flex;
}
.container.home .story-wrapper .story-icons .story-text h5 {
  margin: 0.6em auto;
  font-weight: normal;
}
.container.home .post-box-wrapper {
  max-width: 50em;
  margin: 0 auto;
}
.container.home .post-box-wrapper .post-wrapper:first-child {
  margin-top: 1.5em;
}
.container.home .post-box-wrapper .post-wrapper {
  padding: 0em 1.8em;
  margin-top: 4em;
}
.container.home .post-box-wrapper .post-wrapper .post-box {
  display: flex;
}
.container.home .post-box-wrapper .post-wrapper .post-box img {
  width: 3em;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 15px;
}
.container.home .post-box-wrapper .post-wrapper .post-box .title-box {
  display: flex;
}
.container.home .post-box-wrapper .post-wrapper .post-box .title-box .post-group {
  margin-left: 0.8em;
}
.container.home .post-box-wrapper .post-wrapper .post-box .title-box .post-group h5 {
  color: #1d1d28;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-top: 0.2em;
}
.container.home .post-box-wrapper .post-wrapper .post-box .title-box .post-group p {
  color: #a4a4b2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}
.container.home .post-box-wrapper .post-wrapper .post-box .post-options {
  margin: 0 0 0 auto;
  margin-top: 0.45em;
}
.container.home .post-box-wrapper .post-wrapper .post-box .post-options img {
  height: 24px;
  width: 12px;
  border: none;
}
.container.home .post-box-wrapper .post-wrapper .post-box .post-caption p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1d1d28;
  line-height: 24px;
}
.container.home .post-box-wrapper .post-wrapper img.post {
  border: 2px solid #ffffff;
  filter: drop-shadow(0px 4px 20px rgba(39, 162, 195, 0.2));
  border-radius: 20px;
  width: 100%;
}
.container.home .post-box-wrapper .post-wrapper .post-actions {
  display: flex;
  margin-top: 1em;
}
.container.home .post-box-wrapper .post-wrapper .post-actions .post-action {
  margin-left: 1.3em;
}
.container.home .post-box-wrapper .post-wrapper .post-actions .post-action a {
  display: flex;
  align-items: center;
}
.container.home .post-box-wrapper .post-wrapper .post-actions .post-action a img {
  width: 1.6em;
  height: 1.6em;
}
.container.home .post-box-wrapper .post-wrapper .post-actions .post-action a b {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  margin-left: 8px;
}
.container.home .post-box-wrapper .post-wrapper .post-actions .post-action a b.like {
  color: #f04a4a;
}
.container.home .post-box-wrapper .post-wrapper .post-actions .post-action.like {
  margin: 0;
}
.container.home .post-box-wrapper .post-wrapper .post-actions .post-action:last-child {
  margin: 0 0 0 auto;
}/*# sourceMappingURL=style.css.map */